.nav-tabs {
    margin-left: 0;
}

.archive-tab-content {
    margin-bottom: 1em;
}


.past-speaker {
    margin-top: 1em;
    text-align: center;
}

.archive-video.hide {
    display: none;
}

.archive-video.active {
    display: block;
    position: relative;
}

.archive-video img {
    margin-bottom: 1em;
}

.playlist {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 0;
    position: relative;
}

.playlist .active {
    font-weight: bold;

}

.playlist a:hover {
    text-decoration: none;
}

.playlist a:hover .text {
    text-decoration: underline;
}

.playlist .arrow {
    color: #fff;
    transition: color 0.1s ease-in-out;
}

.playlist .active .arrow,
.playlist li:hover .arrow {
    color: $tedx-red;
}
