/* Styles corresponding to the main page (mostly the fancy center stuff) */

.center-focus-container {
    height: 100%;
}

.center-focus {
    max-width: 30em;
    margin: 2em auto 0;
    text-align: center;
}

.center-focus .main {
    font-size: 5em;
    margin: .5em auto;
}

.center-focus .date {
    font-size: 1.5em;
}

.center-focus .btn {
    margin-top: 1em;
}

@media (min-width: $screen-xs-min) and (min-height: 30em) {
    .center-focus {
        margin-top: 8em;
    }
}

@media (min-width: $screen-sm-min) and (min-height: 30em) {
    .center-focus {
        margin-top: 8em;
    }
}


@media (min-width: $screen-sm-min) and (min-height: 40em) {
    .center-focus {
        margin-top: 12em;
    }
}

@media (min-width: $screen-md-min) and (min-height: 30em) {
    .center-focus {
        margin-top: 8em;
    }
}

@media (min-width: $screen-md-min) and (min-height: 40em) {
    .center-focus {
        margin-top: 12em;
    }
}
