/* Styles corresponding to the main page (mostly the fancy center stuff) */

.center-focus-container {
    height: 100%;
    position: relative;
    width: 100%;
}

.center-focus {
    position: relative;
    z-index: 1;
    max-width: 30em;
    margin: 2em auto 0;
    text-align: center;
}

.center-focus .main {
    font-size: 5em;
    margin: .5em auto;
}

.center-focus .date {
    font-size: 1.5em;
}

.center-focus .btn {
    margin-top: 1em;
}

.homepage-animation {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

@media (min-width: $screen-xs-min) and (min-height: 30em) {
    .center-focus {
        margin-top: 8em;
    }
}

@media (min-width: $screen-sm-min) and (min-height: 30em) {
    .center-focus {
        margin-top: 8em;
    }
}


@media (min-width: $screen-sm-min) and (min-height: 40em) {
    .center-focus {
        margin-top: 12em;
    }
}

@media (min-width: $screen-md-min) and (min-height: 30em) {
    .center-focus {
        margin-top: 8em;
    }
}

@media (min-width: $screen-md-min) and (min-height: 40em) {
    .center-focus {
        margin-top: 12em;
    }
}

.video-container {
    position: relative;
    //height: 88vh;
}

.video-container .video-container-2 {
    //height: 88vh;
    margin-top: -8em;
}

.homepage-video {
    max-height: 100%;
}

.buy-button-container {
    position: relative;
    z-index: 3;
}

.buy-button a {
    display: block;
    border-radius: 6em;
    height: 7em;
    width: 7em;
    padding-top: 2.8em;
    text-align:center;
    border: 1px solid $tedx-red;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    margin: 2em auto;

    &:hover {
        background-color: $tedx-red;
        color: white;
        text-decoration: none;

    }
}

@media (min-width: $screen-xs-min) {
    .buy-button-container {
        top: 2em;
    }

    .buy-button a {
        margin: 0 0;
    }
}

@media (min-width: $screen-sm-min) {
    .buy-button a {
        height: 8em;
        width: 8em;
        padding-top: 3.3em;
    }
}
