/* Styles related to the top-level nav and header in general */

.site-header {
    padding-top: 1em;
    margin-bottom: .3em;
}

.nav-container {
    float: left;
    margin: .2em;
}

.site-nav {
    padding: 0;
    margin: 0;
}

.nav-container > li {
    display: inline-block;
}

.main-logo {
    display: block;
    width: 12em;
}

.nav-link {
    /* Treat 'a' as a block so that we have a bigger hover target */
    display: block;
    padding: .2em .3em .2em .3em;
    text-decoration: none;
    font-size: .7em;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    margin: 0;
}

.nav-link-icon {
    padding: .2em .3em .2em .3em;
}

.nav-container span {
    color: $text-color;
    font-weight: bold;
    font-size: 1.1em;
    transition: color ease-out .15s;
}

.nav-container .current-page span,
.nav-container span:hover,
.nav-container span:active,
.nav-container span:focus {
    color: #888;
}

#header-logo {
    float: left;
    width: 8em;
}


.social-media-icon {
    width: 2em;
    display: none;
}

.social-media-icon-mobile {
    width: 2em;
    display: inline-block;
}

@media (min-width: $screen-sm-min) {
    .social-media-icon-mobile {
        width: 3em;
    }
}

@media (min-width: $screen-sm-max) {

    .main-logo {
        width: 15em;
    }

    .nav-container {
        margin-top: 0;
        float: right;
    }

    .site-header {
        margin-bottom: .7em;
    }

    //site-nav margin and padding?

    .nav-link {
        font-size: 1em;
        padding: .6em .7em .6em .7em;
    }

    .nav-link-icon {
        padding: .4em .5em .4em .5em;
    }

    .social-media-icon {
        display: inline-block;
    }

    .social-media-icon-mobile {
        display: none;
    }

    #header-logo {
        width: 100%;
    }

}


.mobile-list {
    display: inline-block;
    float: right;
}


