/* Code for parallax scrolling effects */

.parallax {
    position: relative;
}

.image-parallax {
    height: 10em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 2em 0;
}

.parallax.ocean-parallax {
    @extend .image-parallax;
    background-image: url("/media/website/1.svg");
}

.parallax.autumn-parallax {
    @extend .image-parallax;
    background-image: url("/media/website/1.svg");
}

.parallax-content {
    padding-top: 2em;
    margin-bottom: 2em;
}

.image-parallax:first-of-type {
    height: 12em;
}
