
//unused
.portrait-image {
  height: 15em;
  width: 100%;
  background-size: 12em;
  //height:400px;
  //width:400px;
  //margin-left:auto; /*position the [div] on the center*/
  //margin-right: auto;
  //margin-top: 50px;
  //margin-bottom: 50px;
  //border: 5px solid white;
}

.image-portrait img {
    width: 100%;
}


.image-portrait .static-image {
    display: block;
}

.image-portrait .gif {
    display: none;
}

.image-portrait:hover .static-image,
.image-portrait:active .static-image,
.image-portrait:focus .static-image {
    display: none;
}

.image-portrait:hover > .gif,
.image-portrait:active > .gif,
.image-portrait:focus > .gif {
    display: block;
}

.volunteer {
    margin-bottom: 2em;
}

.volunteer p {
    margin-top: 0.5em;
}
