.portrait-image-michael {
    background: url('/media/2016/volunteers/MichaelSmall.jpg');

    &:hover {
        cursor:pointer;
        background:url('/media/2016/volunteers/MichaelSmall.gif');
        background-size: 12em;

    }
}

.portrait-image {
  height: 15em;
  width: 100%;
  background-size: 12em;
  //height:400px;
  //width:400px;
  //margin-left:auto; /*position the [div] on the center*/
  //margin-right: auto;
  //margin-top: 50px;
  //margin-bottom: 50px;
  //border: 5px solid white;
}

.v_image {

}
