---
layout: default
page_id: about
---

<div class="about">
    <div class="parallax ocean-parallax">
        <div class="page-heading container">
            <h1>About</h1>
        </div>
    </div>

    <div class="parallax-content container">
        <div class="row">
            <div class="col-md-6">
                <h2>What is TED?</h2>

                <div class="text-group">
                    <p>
                        TED is a nonprofit organization devoted to ideas worth spreading.
                        An annual, multi-day TED conference in Vancouver, BC invites the
                        world's leading thinkers and doers to speak or perform for 18 minutes
                        or less on whatever topics they find interesting. TED speakers have
                        included Bill Gates, Jane Goodall, Elizabeth Gilbert, Sir Richard Branson,
                        Nandan Nilekani, Ngozi Okonjo-Iweala and Sal Khan, all speaking on
                        whatever topic they’re most passionate about. Many of these talks are
                        then made available, free, at <a href="https://www.ted.com">TED.com</a>.
                    </p>
                    <p>
                        TED has since grown into multiple initiatives. It now supports an annual
                        TEDGlobal conference held at different locations around the world (this year
                        it is held in Rio de Janeiro), an annual TED prize that helps inspiring
                        individuals turn their ideas into reality, the TED Fellows program, which
                        connects and aids world-changing innovators, and the TEDx program, through
                        which groups can plan independently organized TED-style events. TED’s media
                        initiatives include TED.com, where new talks are posted daily, the Open
                        Translation Project, where interactive transcripts are created, and TED-Ed,
                        and educational initiative.
                    </p>


                    <p>
                    Follow TED on Twitter at 
                    <a href="https://twitter.com/TEDTalks">twitter.com/TEDTalks</a>, or 
                    on Facebook at 
                    <a href="https://www.facebook.com/TED">facebook.com/TED</a>. 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <h2>What is TEDx?</h2>

                <div class="text-group">
                    <p>
                        TEDx events are independently organized TED events. Those passionate
                        about sharing ideas can host a local event modeled after the official
                        TED conference, where TEDTalks video and live speakers combine to
                        inspire a small local audience. The TED conference provides general
                        guidance for the TEDx program, but individual TEDx events are
                        self-organized and branded after the host city. (Subject to certain
                        rules and regulations.)
                    </p>
                </div>

                <h2>About Us</h2>

                <div class="text-group">
                    <p>
                    We are a group of 
                    <a href="http://www.washington.edu/">University of Washington</a>
                    students looking to bring together established and innovative 
                    individuals under the TEDx banner. We independently plan and host a TEDx 
                    event every spring here at UW since 2012.
                    </p>

                    <p>
                    You can see archived recordings of our past talks on our 
                    <a href="/archive">past events</a> page.
                    </p>

                    <p>
                    We are a 
                    <a href="http://depts.washington.edu/sao/rso-directory/?club=3089">registered RSO</a> 
                    at the University of Washington. If you have any questions, feel free to 
                    <a href="/contact">contact us</a> or email us at 
                    <a href="mailto:tedxuofw@uw.edu">tedxuofw@uw.edu</a>.
                    </p>

                    <p>
                    Follow us on <a href="https://facebook.com/TEDxUofW">Facebook</a>, 
                    <a href="http://twitter.com/tedxuofw">Twitter</a>, or 
                    <a href="http://instagram.com/tedxuofw">Instagram</a>.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="parallax ocean-parallax"></div>

    <div class="parallax-content container">
        <h2>Meet the team</h2>

        {% for team in site.data.2016-volunteers %}
            <h3>{{ team.group_name }}</h3>
            <div class="row portraits volunteers team">
                {% for person in team.volunteers %}
                    <div class="col-xs-6 col-sm-3 col-lg-2 volunteer">
                        <div class="image-portrait">
                            <img class="static-image img-responsive" 
                                 id="{{ person.unique_id }}"
                                 src="{{ person.image }}" 
                                 alt="Portrait of {{ person.name }}"
                                 data-animation="{{ person.gif }}"
                                 data-static="{{ person.image }}" />
                            <!-- fallback -->
                            <noscript>
                                <img class="gif img-responsive"
                                     src="{{ person.gif }}"
                                     alt="Animated portrait of {{ person.name }}" />
                            </noscript>
                        </div>
                        <p>
                            <strong>{{ person.name }}</strong><br />
                            {{ person.position }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="parallax ocean-parallax"></div>
</div>

