---
layout: default
page_id: speakers 
---

<div class="attend">
    <div class="parallax ocean-parallax">
        <div class="page-heading container">
            <h1>Speakers</h1>
        </div>
    </div>

    <div class="parallax-content container">
        {% for speaker in site.data.2016-speakers.speakers %}
            {% if speaker.visible %}
                <div class="speaker">
                    <h2>{{ speaker.name }}</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-lg-3">
                            <img src="{{ speaker.image }}" 
                                 alt="Portrait of {{ speaker.name }}" />
                        </div>
                        <div class="col-xs-12 col-sm-8 col-lg-9">
                            {{ speaker.bio }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- Hack -->
        <div style="height:1em"></div>
    </div>

    <div class="parallax ocean-parallax"></div>

    <div class="parallax-content container">
        <h3 class="coming-soon">More Speakers Coming Soon</h3>
    </div>

    <div class="parallax ocean-parallax"></div>
</div>

