<h3>The Next Generation</h3>

<p>Today, we gather to discuss The Next Generation.</p>

<p>To us, The Next Generation isn't just about people. 
It's also about ideas, ways of thinking, and perspectives.</p>

<p>We don't know what lies ahead, but we know it's going to be 
revolutionary. Together at TEDxUofW, we're hoping to get one step 
closer to it. Our sessions on Business, Culture, and Technology 
aim to empower you and the community around you to build and become 
The Next Generation.</p>

<p>By talking about tomorrow today, we create agents of change.</p>


<h3>Event Details</h3>

<div class="row">
    <div class="col-sm-6">
        <p><strong>Location:</strong><br />
        UW Tower<br />
        4333 Brooklyn Ave NE<br />
        Seattle WA</p>
    </div>
    <div class="col-sm-6">
        <p><strong>Date:</strong><br />
        April 21th, 2012<br />
        1:00 pm to 6:00 pm</p>
    </div>
</div>
