<header class="site-header">
    <div class="container">
        <div class="row">
            <a class="main-logo col-xs-6 col-sm-3 col-md-2" href="/">
                <img src="/media/website/red-black-tedxuofw-logo-830x186.jpg" alt="TEDxUofW Logo" />
            </a>

            <nav class="site-nav col-xs-6 col-sm-9 col-md-10">
                <ul class="nav-container">
                    {% for link in site.data.nav %}
                        <li class="{% if (page.page_id == link.id) %}current-page{% endif %}">
                            <a href="{{ link.url }}">
                                <span>{{ link.title }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
