<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" 
        content="We are a group of University of Washington students looking to bring together established and innovative individuals under the TEDx banner. We independently plan and host a TEDx event every spring here at UW since 2012." />
  <meta name="og:description" 
        content="We are a group of University of Washington students looking to bring together established and innovative individuals under the TEDx banner. We independently plan and host a TEDx event every spring here at UW since 2012." />
  <meta name="og:image"
        content="/media/website/red-black-tedxuofw-logo-830x186.jpg" />

  <link rel="canonical" 
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" 
        type="application/rss+xml" 
        title="{{ site.title }}" 
        href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
      crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
      crossorigin="anonymous">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
        crossorigin="anonymous"></script>

<!-- Our CSS -->
<link rel="stylesheet" 
      href="{{ "/css/main.css" | prepend: site.baseurl }}">

<!-- Our JS -->
<script src="/js/custom.js"></script>
</head>
