<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-2">
                <a class="main-logo " href="/">
                    <img id="header-logo" src="/media/website/red-black-tedxuofw-logo-830x186.jpg" alt="TEDxUofW Logo" />
                </a>
            </div>
            <ul class="nav-container mobile-list visible-xs visible-sm">
                <li>
                    <a class="nav-link-icon" href="https://www.facebook.com/TEDxUofW/?fref=ts">
                        <img  class="social-media-icon-mobile" src="/media/website/greyfb.png">
                    </a>
                </li>
                <li>
                    <a class="nav-link-icon" href="https://www.instagram.com/tedxuofw/">
                        <img  class="social-media-icon-mobile" src="/media/website/greyig.png">
                    </a>
                </li>
            </ul>

            <nav class="site-nav col-xs-12 col-sm-9 col-md-10">
                <ul class="nav-container">
                    {% for link in site.data.nav %}
                        <li class="{% if (page.page_id == link.id) %}current-page{% endif %}">
                            <a class="nav-link" href="{{ link.url }}">
                                <span>{{ link.title }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a class="nav-link-icon" href="https://www.facebook.com/TEDxUofW/?fref=ts">
                            <img  class="social-media-icon" src="/media/website/greyfb.png">
                        </a>
                    </li>
                    <li>
                        <a class="nav-link-icon" href="https://www.instagram.com/tedxuofw/">
                            <img  class="social-media-icon" src="/media/website/greyig.png">
                        </a>
                    </li>
                    <li>
                        <a class="nav-link-icon" href="https://twitter.com/tedxuofw">
                            <img  class="social-media-icon" src="/media/website/greytwitter.png">
                        </a>
                    </li>
                    <li>
                        <a class="nav-link-icon" href="https://www.youtube.com/user/TEDxUofWashington">
                            <img  class="social-media-icon" src="/media/website/greyyt.png">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
